{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Etiam sodales neque non ornare luctus. Nulla facilisi. Mauris facilisis diam vel felis consectetur luctus. Aliquam erat volutpat. Proin tempor erat elit, rutrum laoreet lectus vulputate non. Maecenas tempor id massa et iaculis. Ut ornare nisi at auctor convallis.</p>
    </div>

    <div class="container">
    
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}